

/*===== default =======*/

.pd-t {
	padding-top: 40px;
}
.relative{
	position: relative;
}
.no-mrg{
	margin: 0;
}

.no-padding{
	padding: 0;
}

.width{
	width: 100%;
	/*width: auto;*/
}

.mrg-a{
	display: block;
  	margin: auto;
  	height: 100%;
}

.ta-right{
	text-align: right;
}


/*==== left dashboard ======*/

.sidebar{
	position: fixed;
	width: 100%;
  	/*padding: 2%;*/
  	height: 100%;
  	max-width: 22%
}


.stu{
	width: 65%;
	margin: auto;
}

.stu-image{
	width: 40%;
	margin: auto;

}

.stu-image img{
	border-radius: 50%;
	max-width: 100%;
	height: auto;
}

.stu figcaption{
	color: #fff;
	font-size: 1.8em;
  	text-align: center;
  	margin: 15% auto;

}

.bg-color{
	/*background-color: rgb(6, 84, 163);*/
/*background: radial-gradient(173px 132px at 56% 50%, rgba(6, 84, 163, 1) 129%, rgba(65, 128, 190, 1) 286%);*/

  background: radial-gradient(173px 132px at 54% 50%, rgba(6, 84, 163, 1) 0%, rgba(65, 128, 190, 1) 458%);
}
}

.dashb{
	color: #fff;
}

.dashb li{
	width: 70%;
	margin: 6% auto;
}



.dropdown-menu{
	position: relative;
	left: auto;
  	right: 37px;
  	right: 15px;
  	margin-bottom: 15%;

}


.dropdown-menu li{
	width: 100%;
	max-width: 100%;
}

.dashb .dropdown-menu li a { 
	color: #000;
}

.dashb li a{
	color: #fff;
}

span.glyphicon-plus{
	float: right;
	bottom: auto;
	top: 5px;
	left: 26px;
	right: auto;
}

span.g-left{
	right: 10px;
	clear: both;
	float: left;
}

/*=== Right Dashboard ====*/


.notes{
	border-bottom: 1px solid rgba(0,0,0,.1)
}

.right-box{
	border-left: 1px solid rgba(0,0,0,.5);
  	height: 100%;
  	position: fixed;
  	width: 100%;
  	max-width: 15%;
}

.st-height{
	height: 100%;
}

.rg-height{
	min-height: 200px;
}

.notes-bg{
	background-color: rgba(6, 84, 163,.1);
}

.ed-desc{
	text-align: center;
}

.ed-desc p{
	font-style: italic;
	font-size: .7em;
}

.olay{
	position: absolute;
	top: 50%;
	left: 18%;
}

.olay h4{
	font-size: 2em;
  	color: #fff;
  	opacity: .1;
}

#overlay {  
	background:rgba(0,0,0,.3);
	text-align:center;
	
	/*opacity:0;*/
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	
}

.notes-box:hover #overlay {
	background: rgba(0,0,0,0);
	padding:45px 0 66px 0;
 }

.notes-text{
	color: #fff;
	font-size: 1.5em;
	-webkit-transition: opacity .25s ease;
	-moz-transition: opacity .25s ease;
}

 .notes-box:hover .notes-text{
 	color: #000;
 }

 .notes-box .notes-text:hover{
 	color: #000;
 }

 .btn-notes{
 	opacity: .5;
 	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;

 }

.notes-box:hover .btn-notes{
	position: absolute;
	bottom: 0;
	right: 50%;
	left: 35%;
	opacity: 1;
}

/*========= media ==========*/

@media(min-width: 1406px){
	.dashb > li {
  		width: 45%;
  		margin: 6% auto;
	}
}

@media(min-width: 2281px){
	.dashb > li {
  		width: 34%;
	}
}



@media(max-width: 1060px){
	.dropdown-menu{
		max-width: 100%; 
   		font-size: .6em; 
	}

}

@media(max-width: 769px){
	.sidebar{
		max-width: 25%;
	}

}