.ta-center{
  text-align: center;
}

.a-info{
	background-color: rgba(19, 93, 169, 1);
  	border-radius: 5px;
  	padding: 10px;
  	color: #fff;
  	transition: all .5s ease;
  	box-shadow: -5px 5px 11px -2px rgba(0,0,0,.5);
  	font-size: .85em;

}

.a-info:hover{
	background-color: rgba(52, 127, 205, 1);
	text-decoration: none;
	color: #fff;
}

.bg-gen .h-login{
    font-size: 0.7em;
    padding: 5px;
}

.progress{
    background-color: #1761AB;
}

.a-duedate span{
	font-size: .75em;
}

.mrg{
  margin:2% auto;
}


.bg-gen{
	/*background-color: rgba(255, 188, 16, 1);*/
  background-color: rgba(0, 255, 255, 0.1);
  border-radius: 5px;
  padding: 1%;
  color: #000;
  border: 1px solid rgba(0,0,0,.3);
  padding: 1%;
}

.gaps{
	padding-left: 0;
  	padding-top: 2%;
}

.gaps-right{
	padding-right: 0;
  	padding-top: 2%;
}

.a-marks article, .q-marks article{
    margin: 5%;
}



.a-title{
  color: rgb(20, 100, 182);
  font-size: 1.5em;
  text-align: center;
}

.a-marks span, .q-marks span{
    float: right;
  font-size: 1.5em;
}

.a-marks li, .q-marks li{
  margin: 5% auto;
}

.a-link{
  margin-top: 10%;
}

.i-contact{
  font-size: 1.2em;
}

.go-mark{
  color: rgb(98, 202, 98);
}

.bad-mark{
  color:rgb(202, 98, 98);
}

.w-space span{
  font-size: .8em;
}

/*====== table ======*/

.table{
  display: table;
  /*background-color: rgba(0,0,0,.1);*/
  /*padding: 2%;*/
  border-radius: 5px;
  /*width: 100%;*/
  /*table-layout: fixed;*/
  /*border-collapse: collapse;*/
  border-collapse: separate;
  border: solid 1px #000;
  border-radius: 5px;
}
.t-column{
  display: table-column;
}
.t-row{
  display: table-row;
}

.t-cell{
  display: table-cell;
  /*width: 3%;*/
  padding: 2%;
  border-bottom: solid 1px rgba(0,0,0,.1);
}

.t-cell:first-child{
}

.r-th .t-cell{
  font-size: 1.3em;
  background-color: rgb(223, 223, 223);
  /*padding: 5%;*/
}

.t-row:nth-child(even){
    background-color: rgba(20, 95, 170, 0.05);
}


