
/*BCIT Comp 1950
Mahamoud Mohamoud
Raffael Vendrametto
Mayyadah Al-ani

Group Project*/

/*========Default===========*/
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css");
@import url('//netdna.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap.min.css');
@import url("dashboard.css");
@import url("frontpage.css");
@import url("quiz.css");



 * {
 outline: none;
}

html, body{
  height: 100%;
}

body {
  font-family: 'Helvetica Neue',Arial,sans-serif;
  font-size: 17px;
  line-height: 24px;
  color: #505963;
  background: #fff;
  position: relative;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#header-container {
  height: 50px;
  line-height: 50px;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 9000;
  background: #2e3740;
  background-image: linear-gradient(to bottom,#2e3740,#1e272f);
  box-shadow: 0 0 5px rgba(0,0,0,.75);
}
#header {
  position: relative;
  width: 80%;
  margin: auto;
  color: #959FAA;
  text-shadow: 0 -1px 0 #000;
}
#header a:first-child {
  margin-left: 0;
}
a, .link {
  cursor: pointer;
  color: #8f99a4;
  text-decoration: none;
  -webkit-transition: color .2s;
  transition: color .2s;
}
#content {
  /*width: 70%;*/
  margin: auto;
  padding: 80px 0 100px;
}
.clearfix{
  zoom: 1;
}
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

#nav {
  width: 80%px;
  margin: auto;
  border-bottom: 2px solid #ced9e4;
  height: 38px;
  line-height: 38px;
  font-size: 15px;
  /*margin-bottom: 30px;*/
 
}
.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}

.input-label-style{font-weight:bold;font-size:13px;line-height:20px;}
.input-style{border:1px solid #ccc;-webkit-box-shadow:inset 0 0 2px rgba(0,0,0,0.1),
0 0 4px rgba(0,0,0,0.1);-moz-box-shadow:inset 0 0 2px rgba(0,0,0,0.1),
0 0 4px rgba(0,0,0,0.1);box-shadow:inset 0 0 2px rgba(0,0,0,0.1),
0 0 4px rgba(0,0,0,0.1);padding:3px;background:rgba(100,100,100,100,0.1);border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;}
a.link-modal{color:#000;}
a:hover.link-modal{color:#3784BB !important;}
.dialog-minor-title{font-size:16px;font-weight:bold;color:#3784BB;display:block;margin-bottom:10px;}
.dialog-button{background:#2487C9;padding:5px 10px;font-size:16px;color:#ffffff !important;border:1px solid #57bafc;cursor:pointer;display:inline-block;margin-left:4em; margin-top:0.5em;}
#user-request-form{display:none;background:#ffffff;color:#3784BB;}

/*====== quiz css =======*/

.answers li { 
list-style: upper-alpha; 
} 

label { 
margin-left: 0.5em; 
cursor: pointer; 
} 

#results { 
background: #dddada; 
color: 000000; 
padding: 3px; 
text-align: center; 
width: 200px; 
cursor: pointer; 
border: 1px solid gray; 
}
#timeLeft
{
  color:red;
  font-style:bold;
  padding-top: 5%;
}

.redn{
  color:red;
  font-style:bold;
  padding-top: 5%;
}

#results:hover { 
background: #3d91b8; 
color: #ffffff; 
padding: 3px; 
text-align: center; 
width: 200px; 
cursor: pointer; 
border: 1px solid gray; 
} 

#categorylist { 
margin-top: 6px; 
display: none; 
} 

#category1, #category2, #category3, #category4, #category5, #category6, #category7, #category8, #category9, #category10, #category11 { 
display: none; 
}

#closing {
display: none;
font-style: italic;
}

.answers li { 
list-style: upper-alpha; 
} 

label { 
margin-left: 0.5em; 
cursor: pointer; 
} 

#results { 
background: #dddada; 
color: 000000; 
padding: 3px; 
text-align: center; 
width: 200px; 
cursor: pointer; 
border: 1px solid gray; 
}
#timeLeft
{
	color:red;
	font-style:bold;
}
#results:hover { 
background: #3d91b8; 
color: #ffffff; 
padding: 3px; 
text-align: center; 
width: 200px; 
cursor: pointer; 
border: 1px solid gray; 
} 

#categorylist { 
margin-top: 6px; 
display: none; 
} 

#category1, #category2, #category3, #category4, #category5, #category6, #category7, #category8, #category9, #category10, #category11 { 
display: none; 
}

#closing {
display: none;
font-style: italic;
}
