
    <aside class="pd-t">

<figure class="stu-image">
	<img src="img/student_image.png" alt="John Doe">
	<figcaption>Welcome: John Doe</figcaption>
</figure>

<ul class="dashb ">
	<li class="active">
		Home
	</li>

	<li>
		Contents
	</li>
	<li>
		Home Work
	</li>
	<li>
		Quizzes
	</li>
	  <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
           
          </ul>
        </li>
	<li>
		Contact
	</li>
	<li>
		Associated
	</li>
</ul>	
	
</aside>









