
    <aside class="pd-t">

<figure class="stu">
	<div class="stu-image">
		<img src="img/student_image.png" alt="John Doe">	
	</div>
	<figcaption>John Doe</figcaption>
</figure>

<ul class="dashb arrow">
	<li class="active"><a href="index.html"><span class="glyphicon glyphicon-home g-left"></span>Home</a></li>
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-	expanded="false"><span class="glyphicon glyphicon-book g-left "></span>About Course <span class="glyphicon glyphicon-plus rotate2"></span>
		</a>
	  	<ul class="dropdown-menu">
		    <li><a href="#">Curriculum</a></li>
		    <li><a href="#">Timetable</a></li>
		    <li><a href="#">Location</a></li>
		    <li><a href="#">Instructors</a></li>   
	    </ul>
	</li>
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-	expanded="false"><span class="glyphicon glyphicon-edit g-left"></span>Lectures <span class="glyphicon glyphicon-plus rotate2"></span>
		</a>
	  	<ul class="dropdown-menu">
		    <li><a href="lecture1.html">Lecture 01: HTML Basics</a></li>
		    <li><a href="lecture2.html">Lecture 02: HTML5</a></li>
		    <li><a href="lecture3.html">Lecture 03: CSS Selectors</a></li>
		    <li><a href="lecture4.html">Lecture 04: CSS Layouts</a></li>
			<li><a href="lecture5.html">Lecture 05: Responsive design</a></li>   
			<li><a href="lecture6.html">Lecture 06: CSS3</a></li>   
			<li><a href="lecture7.html">Lecture 07: Javascript frameworks</a></li>   
			<li><a href="lecture8.html">Lecture 08: Dynamic content</a></li>   
			<li><a href="lecture9.html">Lecture 09: Template development, SEO</a></li>   
			<li><a href="lecture10.html">Lecture 10: Methodology</a></li>   	
			<li><a href="lecture11.html">Lecture 11: Group project work </a></li>   
	    </ul>
	</li>

	<li><a href="exercise.html"><span class="glyphicon glyphicon-pushpin g-left"></span>Exercises</a></li>
	<li><a href="#"><span class="glyphicon glyphicon-file g-left"></span>Homework</a></li>
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-	expanded="false"><span class="glyphicon glyphicon-time g-left "></span>Quizzes <span class="glyphicon glyphicon-plus rotate2"></span>
		</a>
	  	<ul class="dropdown-menu">
		    <li><a href="quizlinked.html">Todays Quiz</a></li>
		    <li><a href="archive_quizzes.html">Archive Quizzes</a></li> 
	    </ul>
	</li>
    <li><a href="#"><span class="glyphicon glyphicon-envelope g-left"></span>Messages</a></li>
    <li><a href="#"><span class="glyphicon glyphicon-pencil g-left"></span>Archived Notes</a></li>
    <li><a href="#"><span class="glyphicon glyphicon-cloud g-left"></span>Webspace</a></li>
    <li><a href="#"><span class="glyphicon glyphicon-info-sign g-left"></span>Resources</a></li>
	<li><a href="#"><span class="glyphicon glyphicon-apple g-left"></span>Jeff Parker</a></li>
</ul>	
	
</aside>









