
		<section class="notes">
			<div class="ed-desc">
				<h3>Notes</h3>
				<p>The following is a text area, all notes are archived</p>
				<p>Must be on a lecture page to activate</p>
				<h4><a class="a-info" href="#">Archived Notes</a></h4>
			</div>
	<!-- 		<div class="notes-box notes-bg relative">
				<div id="overlay">
					<div class="olay" >
						<h4>NotePad</h4>
					</div>
					<article contenteditable="true" id="editable" class=" notes-text rg-height ">	
					</article>
					<div class="btn-notes">
					  <button type="button" class="btn btn-primary">Save</button>	
					</div>
				</div>	
			</div>	 -->
		</section>

		<section class="chat ">
			<h4>Chat Area</h4>
		    <div id="chat-wrap">
		   		<p id="name-area">Student: John Doe</p>
		    	<div id="chat-area">
		    		<p class="user">Raf: <span>Hi when is the final</span> </p>
		    		<p class="date">23 June @ 5:00pm</p>
		    		<p class="user">John: <span>Final is on Thursday</span> </p>
		    		<p class="date">23 June @ 5:00pm</p>
		    	</div>
		    
			    <form id="send-message-area">
			        <!-- <p>Your message: </p> -->
			        <textarea id="sendie" maxlength = '100' placeholder="enter message"></textarea>
			    </form>		
		    </div>
		</section>

