	<section class="overview pd-t">
		<div class="row">
			<div class="col-sm-12">
				<article class="overview">
						<h2>Overview</h2>
				</article>
			</div>	
		</div>
	</section>
	<div class="mrg">
		<section class="notice-board row bg-gen">
			<div class="col-sm-6">
				<h4>Next Lecture: Responsive CSS</h4>
				
			</div>
			<div class="col-sm-6 a-duedate relative">
				<h4>Course Completion</h4>
				<progress max="60" value="30"></progress>
			</div>
		</section>
	</div>
	
	<section class="notice-board row bg-gen">
		<div class="col-sm-6 a-duedate">
			<h4><span>Homework due date:</span> August 30 @ 11:59PM</h4>
			<h4 class="ta-cm"><a class="a-info" href="#">Assignment Info</a></h4>
		</div>
		<div class="col-sm-6 w-space">
		<h4>View your Webspace</h4>
		<p>Add your @my.bcit.ca email address name to view your webspace,</p>
		<span>eg: http://bcitcomp.ca/students/your_bcit_email_name</span>
		<h4 class="ta-cm"><a class="a-info" href="http://bcitcomp.ca/students/" target="_blank">Webspace</a></h4>


		</div>
	</section>

		<section class-"assign-quiz">
		<div class="row">
			<div class="col-sm-12 gaps-right">
				<section class="q-marks bg-gen">
					<article class="ta-center">
						<h4 class="a-title">Instructor Notification Section</h4>
						<p>Closed book quiz next class, bring a pen</p>
						<div class="a-m">
							<h4 class=><a class="a-info" href="#">View Previous Lecture</a></h4>
						</div>
					</article>
				</section>
			</div>
		</div>
	</section> <!-- assign-quiz -->

	<section class-"assign-quiz">
		<div class="row">
			<div class="col-sm-6 gaps">
				<section class= "a-marks bg-gen">
					<article>
						<h4 class="a-title">Assignment Marks</h4>

						<ul>
							<li>Session 01: HTML Basics <span class=""><a href="#test-popup" class="open-popup-link a-info h-login">Login</a></span></li>
							<li>Session 02: Demo HTML5 <span class=" go-mark"><a href="#test-popup" class="open-popup-link a-info h-login">Login</a></span></li>
							<li>Session 03: CSS Selectors <span class=" bad-mark"><a href="#test-popup" class="open-popup-link a-info h-login">Login</a></span></li>
						</ul>
						<div class="a-link">
							<h4 class="ta-right"><a class="a-info" href="#">View All Assignments</a></h4>	
						</div>
					</article>
				</section>
			</div>
				
			<div class="col-sm-6 gaps-right">
				<section class="q-marks bg-gen">
					<article>
						<h4 class="a-title">Quizzes</h4>
						
						<ul>
							<li>Session 01: HTML Basics <span class=""><a href="#test-popup" class="open-popup-link a-info h-login">Login</a></span></li>
							<li>Session 02: Demo HTML5 <span class=" go-mark"><a href="#test-popup" class="open-popup-link a-info h-login">Login</a></span></li>
							<li>Session 03: CSS Selectors <span class=" bad-mark"><a href="#test-popup" class="open-popup-link a-info h-login">Login</a></span></li>
						</ul>
						<div class="a-link">
							<h4 class="ta-right"><a class="a-info" href="#">View All Quizzes</a></h4>
						</div>
					</article>
				</section>
			</div>
		</div>
	</section> <!-- assign-quiz -->

	<section class-"assign-quiz">
		<div class="row">
			<div class="col-sm-7 gaps">
				<section class= "a-marks bg-gen">
					<article>
						<h4 class="a-title">About the Course</h4>
						<div class="table">
						<div class="t-column">Test</div>
								<div class="t-row r-th">
									
									<div class="t-cell r-th">
										<p>Description</p>
									
									</div>
									<div class="t-cell">
									<p>Due</p>
									</div>

									<div class="t-cell">
									<p>Worth</p>
									</div>
									
								</div>

								<div class="t-row sec-style">
									<div class="t-cell">
										<p>Homework</p>
									</div>
									<div class="t-cell">
										<p>Daily	</p>
									</div>
									<div class="t-cell">
										<p>35%</p>
									</div>
								</div>

								<div class="t-row">
									<div class="t-cell">
										<p>Quizzes</p>
									</div>
									<div class="t-cell">
										<p>Various</p>
									</div>
									<div class="t-cell">
										<p>20%</p>
									</div>
								</div>

								<div class="t-row">
									<div class="t-cell">
										<p>Group Project</p>
									</div>
									<div class="t-cell">
										<p>Session 12</p>
									</div>
									<div class="t-cell">
										<p>20%</p>
									</div>
								</div>

								<div class="t-row">
									<div class="t-cell">
										<p>Final Exam</p>
									</div>
									<div class="t-cell">
										<p>Session 12</p>
									</div>
									<div class="t-cell">
										<p>25%</p>
									</div>
								</div>
						</div>

						
						<div class="a-link">
							<h4 class="ta-right"><a class="a-info" href="#">View All Assignments</a></h4>	
						</div>
					</article>
				</section>
			</div>

			<div class="col-sm-5 gaps-right">
				<section class="q-marks bg-gen">
					<article>
						<h4 class="a-title">Course Information</h4>

						<ul>
							<li>Apr 09 - Jun 25</li>
							<li>Thu	18:00 - 21:00</li>
							<li>Contact Instructor: <a class="i-contact" href="mailto:jeffrey_parker@bcit.ca">jeff parker</a></li>
						</ul>
						
						<ul>
							<li>555 Seymour Street</li>
							<li>Vancouver, British Columbia</li>
							<li>V6B 3H6</li>
						</ul>
						<h4 class="ta-right"><a class="a-info" href="#">View Map</a></h4>
					</article>
				</section>
			</div>


				
		
		</div>
	</section> <!-- assign-quiz -->

	


		

