	<section class="overview pd-t">
		<div class="row">
			<div class="col-sm-12">
				<article class="overview">
						<h2>Overview</h2>
				</article>
			</div>	
		</div>
	</section>
	
	<section class="notice-board row bg-gen">
		<div class="col-sm-6 a-duedate">
			<h4><span>Assignment due date:</span> August 30 @ 11:59PM</h4>
		</div>
		<div class="col-sm-6">
			<h4 class="ta-right"><a class="a-info" href="#">Assignment Info</a></h4>
		</div>
	</section>

	<section class-"assign-quiz">
	<div class="row">
		<div class="col-sm-6 gaps">
			<section class= "a-marks bg-gen">
				<h4>Assignment Marks</h4>
				<ul>
					<li>Session 01: HTML Basics</li>
					<li>Session 02: Demo HTML5</li>
					<li>Session 03: CSS Selectors</li>
				</ul>
							<h4 class="ta-right"><a class="a-info" href="#">View All Assignments</a></h4>

			</section>
		</div>
			
		<div class="col-sm-6  gaps-right">
			<section class="q-marks bg-gen">
			<h4>Quizzes</h4>
			<p>Your recent performance</p>
			<div class="row">
				<div class="col-sm-6">
					<h4>HTML Basics</h4>
					<p>Average Grade: 6</p>
					
				</div>
				<div class="col-sm-6">
					Progress Bar
				</div>
				

			</div>
			<h4>HTML5</h4>
			<h4>CSS Selectors</h4>
			<h4 class="ta-right"><a class="a-info" href="#">View All Quizzes</a></h4>
			</section>

		</div>
	</div>
		
	</section> <!-- assign-quiz -->
		

