
		<section class="notes">
		<div class="ed-desc">
			<h3>Notes</h3>
			<p>The following is a text area, all notes are archived</p>
			<a href="#" >Archived Notes</a>	

		</div>
		<div class="notes-box notes-bg relative">
			<div id="overlay">
					<div class="olay" >
						<h4>NotePad</h4>
					</div>

				<article contenteditable="true" id="editable" class=" notes-text rg-height ">
				
				</article>
				<div class="btn-notes">
				  <button type="button" class="btn btn-primary">Save</button>	
				</div>

				
			</div>
			
			
		</div>

					
		</section>

		<section class="chat ">
			<div>
				Test
			</div>			
		</section>

